.lab {
  border-bottom: 0.5px solid white;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2.5rem;
}

.labTitle {
  text-align: center;
}

.labText {
  max-width: 800px;
  padding-bottom: 1.25rem;
}

.labGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: start;
}

.labArticle {
  border: 0.5px solid white;
  padding: 2.5rem;
}

.labArticle > img {
  aspect-ratio: 4/3;
  object-fit: cover;
}
