.lab {
  border-bottom: 0.5px solid white;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2.5rem;
}

.labTitle {
  text-align: center;
}

.titleArticle {
  text-decoration-line: underline;
  text-decoration-color: #9b005c;
  text-decoration-thickness: 4px;
}

.labText {
  max-width: 800px;
  padding-bottom: 1.25rem;
}

.labGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: start;
  width: 100%;

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    row-gap: 0.5rem;
  }
}

.labArticle {
  border: 0.5px solid white;
  padding: 2.5rem;
}

.labArticle > img {
  aspect-ratio: 4/3;
  object-fit: cover;
  -webkit-mask-image: radial-gradient(ellipse at center, #000 5%, transparent 100%);
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
  filter: brightness(1.2);
}

.btnArticle {
  border: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.6rem;
  cursor: pointer;
  font-weight: bold;
}

.btnArticle:hover {
  background-color: #9b005c;
}

.timeArticle {
  font-size: 0.8rem;
  opacity: 0.6;
}
