.footer {
  position: relative;
  min-height: 50vh;
  display: grid;
  place-items: center;
}

.footerNav {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerLink {
  text-decoration: none;
  color: inherit;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.footerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.footerFlowerRight {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  object-fit: cover;
  animation: flowerShimmer 6s ease-in-out infinite;
  will-change: filter, transform;
  border-left: 0.5px solid white;
}

.footerFlowerLeft {
  position: absolute;
  left: 0;
  height: 100%;
  width: 25%;
  transform: scaleX(-1);
  object-fit: cover;
  animation: flowerShimmer 6s ease-in-out infinite;
  will-change: filter, transform;
  border-left: 0.5px solid white;
  filter: brightness(0.5);
}

.icons {
  margin-block: 0.4rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footerHome {
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-color: #9b005c;
  text-decoration-thickness: 4px;
}

.footerLink:hover,
.footerHome:hover {
  color: #9b005c;
}

.line {
  width: 50%;
}

@keyframes flowerShimmer {
  0%,
  100% {
    filter: brightness(1.2) saturate(1);
  }
  50% {
    filter: brightness(2.1) saturate(1.12);
  }
}

@media (max-width: 950px) {
  .footerFlowerRight,
  .footerFlowerLeft {
    width: 15%;
  }

  .footerText {
    gap: 0.5rem;
  }

  .footerLink {
    text-decoration: none;
    color: inherit;
    padding: 0.1rem;
  }

  .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .small {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .footerFlowerRight,
  .footerFlowerLeft {
    width: 10%;
  }
}
