.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  height: 100px;
}

.brand {
  position: relative;
  z-index: 10;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.brand:hover {
  color: #9b005c;
}

.woodLeafs {
  position: absolute;
  left: 25%;
  object-fit: cover;
}

.woodLeafs:hover {
  filter: brightness(4);
}

@media (max-width: 950px) {
  .woodLeafs {
    left: 10%;
    width: 50%;
  }
}
