.about {
  border-bottom: 0.5px solid white;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.aboutTitle {
  text-align: center;
  padding: 2.5rem;
  text-decoration-line: underline;
  text-decoration-color: #9b005c;
  text-decoration-thickness: 4px;
}

.aboutArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.aboutText {
  flex: 1 1 50%;
  padding-bottom: 2.5rem;
  padding-inline: 2.5rem;
  border-left: 0.5px solid white;
}

.aboutImage {
  flex: 1 1 50%;
  padding-bottom: 2.5rem;
  padding-inline: 2.5rem;
  -webkit-mask-image: radial-gradient(ellipse at center, #000 5%, transparent 100%);
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (max-width: 950px) {
  .aboutArticle {
    flex-direction: column;
  }
}
