.welcomeSection {
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  padding: 0 8rem;
}

.welcomeTitle {
  flex: 1 1 50%;
  padding-right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeText {
  flex: 1 1 50%;
  padding-left: 2.5rem;
  height: 100%;
  border-left: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomeText p {
  margin: 0;
  width: 100%;
}

.welcomeLink:hover {
  color: #9b005c;
}

.rock,
.rockTwo {
  position: absolute;
  object-fit: cover;
  -webkit-mask-image: radial-gradient(ellipse at center, #000 5%, transparent 100%);
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
  filter: brightness(1.5);
}

.rock {
  bottom: 0;
  height: 40%;
  width: 40%;
}

.rockTwo {
  top: 0;
  height: 20%;
  rotate: 180deg;
}

@media (max-width: 900px) {
  .welcomeSection {
    flex-direction: column;
    width: 100%;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    padding: 0 2.5rem;
    margin: 0;
    min-height: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .welcomeTitle {
    padding-block: 1.25rem;
  }

  .welcomeText {
    border: none;
    display: block;
    padding: 0;
    margin: 0;
  }

  .welcomeText > p {
    padding: 0;
    padding-bottom: 2.5rem;
    margin: 0;
  }

  .rock,
  .rockTwo {
    display: none;
  }
}
