.welcomeSection {
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  padding: 0 8rem;
}

.welcomeTitle {
  flex: 1 1 50%;
  padding-right: 2.5rem;
}

.welcomeText {
  flex: 1 1 50%;
  padding-left: 2.5rem;
  height: 100%;
  border-left: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 40%;
  object-fit: cover;

  -webkit-mask-image: radial-gradient(ellipse at center, #000 5%, transparent 100%);
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
  filter: brightness(1.5);
}

.rockTwo {
  position: absolute;
  top: 0;
  height: 20%;
  object-fit: cover;
  rotate: 180deg;
  -webkit-mask-image: radial-gradient(ellipse at center, #000 5%, transparent 100%);
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
  filter: brightness(1.5);
}
