.projectSlugSection {
  border-bottom: 0.5px solid white;
  width: 100%;
  display: grid;
  place-items: center;
}

.projectTitleContainer {
  padding-bottom: 1rem;
  text-align: center;
}

.projectSlugTitle {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #9b005c;
  text-decoration-thickness: 4px;
}

.projectSlugLink:hover {
  color: #9b005c;
}

.projectSlugArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  width: 100%;
  align-items: stretch;
}

.projectSlugMedia,
.projectSlugContent {
  flex: 1 1 50%;
}

.projectSlugMedia {
  position: relative;
  padding-bottom: 2.5rem;
  padding-inline: 2.5rem;
  aspect-ratio: 4 / 3;
}

.projectSlugImage {
  -webkit-mask-image: radial-gradient(ellipse at center, #000 5%, transparent 100%);
  mask-image: radial-gradient(ellipse at center, #000 5%, transparent 80%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 10% 90%;
  mask-size: 90% 100%;
  object-fit: cover;
}

.projectSlugContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectSlugText {
  padding-bottom: 2.5rem;
  padding-inline: 2.5rem;
  border-left: 0.5px solid white;
  width: 100%;
}

.projectSlugLink {
  padding-bottom: 1.25rem;
}

@media (max-width: 950px) {
  .projectSlugArticle {
    flex-direction: column;
  }

  .projectSlugMedia,
  .projectSlugContent {
    flex: 1 1 auto;
  }
}
