.notFound {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.notFoundContent {
  border: 0.5px solid white;
  padding: 2.5rem;
  text-align: center;
}

.notFoundLink {
  display: inline-block;
  margin-top: 1.5rem;
}

.notFoundLink:hover {
  color: #9b005c;
}
